---
export interface Props {
  name: string;
  image: string;
}

const { name, image } = Astro.props;
---

<div
  class="flex h-32 w-32 items-center justify-center overflow-hidden rounded-full border border-solid border-slate-600 bg-gradient-to-br from-slate-900 to-slate-800 p-4"
>
  <img src={image} alt={`${name} monster image`} class="object-cover" />
</div>
