---
interface Props {
  name: string;
  image: string;
}

const { name, image } = Astro.props;
---

<div class="relative w-full">
  <img src={image} alt={`${name} header image`} class="h-[175px] w-full object-cover" draggable="false" />
  <div
    class="absolute bottom-0 left-0 right-0 top-0 flex justify-center bg-gradient-to-r from-primary via-transparent to-primary p-3"
  >
    <div class="container flex items-end justify-start">
      <h2 class="text-5xl text-white">{name}</h2>
    </div>
  </div>
</div>
