---
import { Image } from "astro:assets";

interface Props {
  name: string;
  image: ImageMetadata;
}

const { name, image } = Astro.props;
---

<div class="relative flex h-24 w-full overflow-hidden bg-linear-to-r from-white/80 to-transparent">
  <div
    class="bg-primary relative z-10 flex w-full items-center justify-center lg:w-[40%] lg:pr-8 lg:[clip-path:polygon(0_0,80%_0,90%_110%,0_110%)]"
  >
    <Image
      class="pointer-events-none h-full w-full object-cover select-none"
      src={image}
      alt={`${name} header`}
      height={400}
      loading="eager"
      fetchpriority="high"
    />
    <div class="bg-primary/30 ffx-watertexture absolute inset-0 flex justify-center px-3">
      <div class="container flex items-end justify-start">
        <h2 class="ffx-title text-4xl/normal lg:text-5xl/normal">{name}</h2>
      </div>
    </div>
  </div>

  <!-- <div class="flex flex-1 items-center justify-center pl-4"></div> -->
  <div
    class="shadow-inner-glow pointer-events-none absolute inset-0 z-20 lg:right-[60%] lg:[clip-path:polygon(0_0,80%_0,90%_110%,0_110%)]"
  >
  </div>
</div>
