---
import FlagLinks from "./FlagLinks.astro";
import { ResetButton } from "./ResetButton";
---

<div class="container flex items-center justify-between">
  <FlagLinks />
  <ResetButton client:load />
</div>
