---
import FlagLinks from "./FlagLinks.astro";
import { ResetButton } from "./ResetButton";
---

<div class="container flex justify-between items-center">
  <FlagLinks />
  <ResetButton client:load />
</div>
