---
import "../styles/global.css";
import type { Lang } from "../util/langs";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Keep track of Final Fantasy X's monster capture mini game progress"
    />
    <title>FFX Monster Tracker</title>
  </head>
  <body>
    <slot />
  </body>
</html>
