---
export interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>FFX Monster Tracker</title>
  </head>
  <!-- <body class="overflow-auto h-screen bg-gradient-to-br from-[#212349] to-[#7281A2]"> -->
  <body
    class="overflow-auto h-screen bg-red-600 sm:bg-green-600 md:bg-blue-600 lg:bg-yellow-600 xl:bg-purple-600 2xl:bg-primary"
  >
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    overflow: hidden;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
</style>
